<!DOCTYPE html style="width:100%;height:100%;" >

    <head>

      <script src="https://js.stripe.com/v3/"></script>

      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <style>

        #payment-form{
          width:25%;
          margin:auto;
          margin-top:100px;
        }

        #card-element{
          height:50px;
        }

        #my-table{
          width:80%;
          margin:auto;
          font-size:20px;
        }

        #my-table, th, td{
          border: 1px solid black;

        }


      </style>

    </head>

    <body style="width:100%;height:100%;" >

      <form id="payment-form" >

        <a href="/" >I want to make payment</a>

        <br/><br/>

        <h3>Check Payment</h3>

        <br/>

        <div class="form-check form-check-inline">
          <input class="form-check-input" checked type="radio" name="key" id="name" value="name">
          <label class="form-check-label" for="name">Name</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="key" id="reference" value="ref">
          <label class="form-check-label" for="reference">Reference</label>
        </div>

        <br/><br/>
      

        <div class="form-group">
          <label for="name">Search Text</label>
          <input type="text" class="form-control" id="value" name="value" >
        </div>

        <br/>

        <button type="submit" id="submit-butt" class="btn btn-primary">Submit</button>

        <br/><br/>

        <div id="message" ></div>

        <br/><br/>

      </form>


      <table id="my-table" >

        <thead>
          <tr style="height:40px;" >
            <th>Ref</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Currency</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody id="my-body" ></tbody>

      </table>

  
      <script>


      $( document ).ready(function() {

          var form = document.getElementById('payment-form');

          form.addEventListener('submit', function(ev) {

            ev.preventDefault();

            $("#my-body").html('')

            document.getElementById("submit-butt").disabled = true;

            $.ajax({
              type: "GET",
              url: "http://localhost:3000/payment",
              data: $("#payment-form").serialize(),
              dataType:"JSON"
            })
            .then(function(res){

              if(!res.success){
                throw new Error(res.message)
              }

              var str = ""

              for( var i = 0 ; i < res.data.length ; i++ ){

                var obj = res.data[i]

                str += `
                  <tr style="height:40px;" >
                    <td>${obj.ref}</td>
                    <td>${obj.name}</td>
                    <td>${obj.phone}</td>
                    <td>${obj.currency}</td>
                    <td>${obj.price}</td>
                  </tr>  
                `

              }

              $("#my-body").html(str)

              document.getElementById("submit-butt").disabled = false;
              $('#message').html('')
              

            })
            .catch(function(e){
              showMessage(e.message, true)
            })

          });
          
      });


      function showMessage(msg, isError){
        var message = $('#message');
        message.html(msg)
        message.css("color", isError == true ? "red" : "green")

        if(!isError){
          document.getElementById("payment-form").reset();
        }
        
        document.getElementById("submit-butt").disabled = false;
      }

      </script>
 
    </body>

</html>