<html style="width:100%;height:100%;" >

    <head>

      <script src="https://js.stripe.com/v3/"></script>

      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <style>

        #payment-form{
          width:25%;
          margin:auto;
          margin-top:20px;
        }

        #card-element{
          height:50px;
        }


      </style>

    </head>

    <body style="width:100%;height:100%;" >

      <form id="payment-form" >

        <a href="/check" >I want to check payment</a>

        <br/><br/>

        <h3>Make Payment</h3>

        <br/>

        <div class="form-group">
          <label for="name">Customer Name</label>
          <input type="text" class="form-control" id="name" name="name" >
        </div>

        <div class="form-group">
          <label for="phone">Customer Phone</label>
          <input type="text" class="form-control" id="phone" name="phone">
        </div>

        <div class="form-group">
          <label for="currency">Currency</label>
          <select class="form-control" id="currency" name="currency">
            <option value="hkd" >HKD</option>
            <option value="usd" >USD</option>
            <option value="aud" >AUD</option>
            <option value="eur" >EUR</option>
            <option value="jpy" >JPY</option>
            <option value="cny" >CNY</option>
          </select>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" name="price" >
        </div>

        <br/><br/>

        <div class="form-group">
          <label for="cardholdername">Card Holder Name</label>
          <input type="text" class="form-control" id="cardholdername" name="cardholdername" >
        </div>

        <br/>

        <div id="card-element"></div>

        <div id="card-errors" role="alert"></div>

        <br/>

        <button type="submit" id="submit-butt" class="btn btn-primary">Submit</button>

        <br/>

        <div id="message" ></div>

      </form>

      <script>


      $( document ).ready(function() {


          var stripe = Stripe( '<%= PUBLISH_KEY %>' );
          var elements = stripe.elements();

          var style = {
            base: {
              color: "#32325d"
            }
          };

          var card = elements.create("card", { style: style, hidePostalCode: true });
          card.mount("#card-element");

          card.addEventListener('change', ({error}) => {
            const displayError = document.getElementById('card-errors');
            if (error) {
              displayError.textContent = error.message;
            } else {
              displayError.textContent = '';
            }
          });

          var form = document.getElementById('payment-form');

          form.addEventListener('submit', function(ev) {

            ev.preventDefault();

            var cardholdername = document.getElementById('cardholdername').value.trim()

            if(!cardholdername){
              showMessage("Card Holder Name is required", true)
              return
            }

            document.getElementById("submit-butt").disabled = true;

            var clientSecret = ""
            var ref = ""

            $.ajax({
              type: "POST",
              url: "http://localhost:3000/payment",
              data: $("#payment-form").serialize(),
              dataType:"JSON"
            })
            .then(function(res){

              if(!res.success){
                throw new Error(res.message)
              }

              clientSecret = res.data.clientSecret
              ref = res.data.Id

              return stripe.confirmCardPayment(res.data.clientSecret, {
                payment_method: {
                  card: card,
                  billing_details: {
                    name: cardholdername,
                    address:{
                      postal_code:"00852"
                    }
                  }
                }
              })

            })
            .then(function(result){

              if ( result.error ) {

                throw new Error(result.error.message)

              } else {
                
                if (result.paymentIntent.status === 'succeeded') {

                  showMessage(`
                  <p>Payment Success</p>
                  <p>Reference: ${ref} </p>
                `)
                 
                }else{

                  throw new Error("Payment Failure")

                }

              }

            })
            .catch(function(e){
              showMessage(e.message, true)
            })

          });
          
      });


      function showMessage(msg, isError){
        var message = $('#message');
        message.html(msg)
        message.css("color", isError == true ? "red" : "green")

        if(!isError){
          document.getElementById("payment-form").reset();
        }
        
        document.getElementById("submit-butt").disabled = false;
      }

      </script>
 
    </body>

</html>